:root {
    --font-size-message: 14px;
    --font-size-role: 14px;
    --font-size-toolbar: 10px;
    --font-size-prompt: 14px;
    --font-size-markdown-html: 14px;
    --font-size-pre-markdown: 14px;

    --default-interface-margin: 24px;
    --safe-area-bottom-size: 0px;
}

* {
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}

html,
body {
    margin: 0;
    font-family: sans-serif;
    height: 100%;
    touch-action: pan-x pan-y;
    overscroll-behavior: none;
}

.root-view {
    display: flex;
    flex-direction: row;
    height: 100%;
    background: rgb(23, 23, 23);
}

.navigation-view {
    display: flex;
    flex-direction: column;
    min-width: 280px;
}

.chat-view {
    display: flex;
    flex-direction: column;
    flex: 1;
    background: rgb(50, 62, 68);
}

.chat-root {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 0 var(--default-interface-margin);
    margin-bottom: calc(4.5 * var(--default-interface-margin));
}

.messages-panel {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.message {
    padding: 16px;
    border-bottom: 1px solid silver;
}

.message > * {
    margin: 8px 0px;
}

.message .role {
    font-family: "Monospace", monospace;
    font-size: var(--font-size-role);
    font-weight: bold;
    line-height: 1.5;
    color: white;
}

.message .role-user {
    color: gold;
}

.message .toolbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: 'Monospace', monospace;
    font-size: var(--font-size-toolbar);
}

.prompt-form {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 14px;
    background-color: #161c1e;
    border-radius: 12px;

    position: fixed;
    bottom: var(--safe-area-bottom-size);
    left: var(--default-interface-margin);
    right: var(--default-interface-margin);
    z-index: 1;
}

[data-loading="no-loading"] {
    border: 3px solid transparent;
}

[data-loading="is-loading"] {
    border: 3px solid transparent;
    animation: colorChange 5s infinite;
}

@keyframes colorChange {
    0% {
        border-color: transparent;
    }

    25% {
        border-color: rgb(209, 106, 69);
    }

    50% {
        border-color: lightblue;
    }

    75% {
        border-color: rgb(209, 106, 69);
    }

    100% {
        border-color: transparent;
    }
}

.prompt-wrap {
    display: grid;
    flex: 1;
}

.prompt-wrap::after {
    content: attr(data-replicated-value) " ";
    white-space: pre-wrap;
    visibility: hidden;
}

.prompt-wrap > .prompt,
.prompt-wrap::after {
    grid-area: 1 / 1 / 2 / 2;
}

.prompt-wrap > .prompt {
    resize: none;
    overflow: hidden;
}

.prompt {
    outline: none;
    appearance: none;
    border: 0px;
    background-color: #161c1e;
    color: white;
    flex: 1;
    font-size: var(--font-size-prompt);
    line-height: 24px;
    padding: 0;
}

.prompt-submit {
    display: flex;
    flex-direction: row;
    align-content: center;
    background-color: #161c1e;
    appearance: none;
    border: none;
    font-weight: 400;
    /* font-size: var(--font-size-prompt); */
    color: white;
}

/* Target input element specifically */
.prompt input,
.prompt-submit input {
    background-color: #161c1e;
    color: white;
}

/* Target input element specifically */
.prompt-submit input {
    background-color: rgba(34, 34, 34, 0.3);
    color: white;
}

.markdown-html {
    font-family: "Monospace", monospace;
    font-size: var(--font-size-markdown-html);
    line-height: 1.8;
    padding: 4px 0px;
    color: #f1f1f2;
}

.markdown-html pre {
    overflow-x: auto;
    white-space: pre-wrap;
    word-wrap: break-word;
}

.markdown-html pre code {
    border-radius: 8px;
}

.markdown-html a {
    color: rgb(209, 106, 69);
    font-weight: bold;
    text-decoration: none;
    border-bottom: 1px solid rgb(209, 106, 69);
}

.icon-size-md {
    font-size: 24px;
}

.aligned-mid {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.child-spacing-min > * {
    margin: 0 4px;
}

.child-spacing-min :first-child {
    margin-left: 0;
}

.child-spacing-md > * {
    margin: 0 8px;
}

.child-spacing-md :first-child {
    margin-left: 0;
}

.font-footnote {
    font-family: 'Monospace', monospace;
    font-size: var(--font-size-toolbar);
}

.hyperlink-onhover {
    cursor: pointer;
}

.hyperlink-onhover:hover {
    color: rgb(209, 106, 69);
    text-decoration: underline;
}

@import "coloring.css";
@import "animations.css";
@import "scrollbars.css";

/* Media query for iPhone 12 Plus and above Retina display */
@media only screen and (min-device-width: 375px) and (-webkit-min-device-pixel-ratio: 2),
    only screen and (min-device-width: 414px) and (-webkit-min-device-pixel-ratio: 3) {
    :root {
        --font-size-message: 14px;
        --font-size-role: 14px;
        --font-size-markdown-html: 15px;
        --font-size-prompt: 16px;

        --safe-area-bottom-size: 28px;
    }
}

/* Media query for desktop browsers with Retina display */
@media only screen and (min-device-width: 1080px) and (-webkit-min-device-pixel-ratio: 2),
    only screen and (min-device-width: 1240px) and (-webkit-min-device-pixel-ratio: 3) {
    :root {
        --font-size-message: 9pt;
        --font-size-role: 9pt;
        --font-size-markdown-html: 9pt;
        --font-size-prompt: 14px;

        --safe-area-bottom-size: 16px;
    }
}
